<div class="page-width">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}
  
    {%- assign collection = collections[section.settings.collection] -%}
    {%- assign max_height = 530 -%}
  
  
    {%- assign product_limit = section.settings.rows -%}
  
  
  
    <ul class="collection">
  
      {% for product in collection.products limit: product_limit %}
  
      {% assign productDescriptionTabs = product.description | split: '<!-- split -->'  %}
  
        <li class="collection-item "  id="ProductSection-{{ product.id }}"
        data-section-id="{{ product.id }}"
        data-section-type="product"
        data-enable-history-state="true"
        data-ajax-enabled="{{ settings.enable_ajax }}" >
  
          <div class="grid grid--uniform">
          <div class="grid__item medium-up--one">
  
            <a class="grid-view-item__title  product-card__title" href="{{ product.url }}"  aria-hidden="true">
               <h2>{{ product.title }}</h2>
            </a>
         
          <div class="rte-setting">
            {{ productDescriptionTabs[0] }}
          </div>
          </div>
          </div>
  
          <div class="grid grid--uniform product-content">
  
            {% include 'product-card-grid3', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
          </div>
  
             <div class="btn-wrapper">
  
              <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
                data-error-message-wrapper
                role="alert"
              >
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
              </div>
  
              {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
  
              {{ form | payment_terms }}
  
              <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <button type="submit" name="add"
            
              aria-label="{{ 'products.product.add_to_cart' | t }}"
              class="btn add-to-cart"
              {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
              data-add-to-cart>
              <span data-add-to-cart-text>
              
                  {{ 'products.product.add_to_cart' | t }}

                  <span class="text-center price-wrapper">({% include 'product-price' %})</span>
               
              </span>
              <span class="hide" data-loader>
                {% include 'icon-spinner' %}
              </span>
            </button>
  
            {% endform %}
  
  
                 {%- comment -%}
            Live region for announcing updated price and availability to screen readers
          {%- endcomment -%}
          <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>
  
        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>
  
       
  
  
            {% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ product.id }}">
      {{ product | json }}
    </script>
    <script type="application/json" id="ModelJson-{{ product.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
  {% endunless %}
  
  
            </div>
  
        </li>
      {% else %}
  
        {% for i in (1..product_limit) %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            <div class="grid-view-item product-card">
              <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="#">
                <span class="visually-hidden">{{ 'homepage.onboarding.product_title' | t }}</span>
              </a>
              <div class="grid-view-item__image-wrapper">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
              <div class="h4 grid-view-item__title" aria-hidden="true">{{ 'homepage.onboarding.product_title' | t }}</div>
              {% include 'product-price' %}
            </div>
          </li>
        {% endfor %}
      {% endfor %}
  
    
  
  
    </ul>
  
  
  
  </div>
  
  
  
  {% schema %}
  {
    "name": {
      "cs": "Propagovaná kolekce",
      "da": "Udvalgt kollektion",
      "de": "Vorgestellte Kategorie",
      "en": "Featured collection",
      "es": "Colección destacada",
      "fi": "Esittelyssä oleva kokoelma",
      "fr": "Collection en vedette",
      "it": "Collezione in evidenza",
      "ja": "特集コレクション",
      "ko": "추천 컬렉션",
      "nb": "Utvalgt samling",
      "nl": "Uitgelichte collectie",
      "pl": "Polecana kolekcja",
      "pt-BR": "Coleção em destaque",
      "pt-PT": "Coleção em destaque",
      "sv": "Utvald kollektion",
      "th": "คอลเลกชันแนะนำ",
      "tr": "Öne çıkan koleksiyon",
      "vi": "Bộ sưu tập nổi bật",
      "zh-CN": "特色产品系列",
      "zh-TW": "精選商品系列"
    },
    "class": "index-section shop-collection experience-shop-collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "cs": "Nadpis",
          "da": "Overskrift",
          "de": "Titel",
          "en": "Heading",
          "es": "Título",
          "fi": "Otsake",
          "fr": "En-tête",
          "it": "Heading",
          "ja": "見出し",
          "ko": "제목",
          "nb": "Overskrift",
          "nl": "Kop",
          "pl": "Nagłówek",
          "pt-BR": "Título",
          "pt-PT": "Título",
          "sv": "Rubrik",
          "th": "ส่วนหัว",
          "tr": "Başlık",
          "vi": "Tiêu đề",
          "zh-CN": "标题",
          "zh-TW": "標題"
        },
        "default": {
          "cs": "Propagovaná kolekce",
          "da": "Udvalgt kollektion",
          "de": "Vorgestellte Kategorie",
          "en": "Featured collection",
          "es": "Colección destacada",
          "fi": "Esittelyssä oleva kokoelma",
          "fr": "Collection en vedette",
          "it": "Collezione in evidenza",
          "ja": "特集コレクション",
          "ko": "추천 컬렉션",
          "nb": "Fremhevet samling",
          "nl": "Uitgelichte collectie",
          "pl": "Polecana kolekcja",
          "pt-BR": "Coleção em destaque",
          "pt-PT": "Coleção em destaque",
          "sv": "Utvald kollektion",
          "th": "คอลเลกชันแนะนำ",
          "tr": "Öne çıkan koleksiyon",
          "vi": "Bộ sưu tập nổi bật",
          "zh-CN": "特色产品系列",
          "zh-TW": "精選商品系列"
        }
      },
      {
        "id": "collection",
        "type": "collection",
        "label": {
          "cs": "Kolekce",
          "da": "Kollektion",
          "de": "Kategorie",
          "en": "Collection",
          "es": "Colección",
          "fi": "Kokoelma",
          "fr": "Collection",
          "it": "Collezione",
          "ja": "コレクション",
          "ko": "컬렉션",
          "nb": "Samling",
          "nl": "Collectie",
          "pl": "Kolekcja",
          "pt-BR": "Coleção",
          "pt-PT": "Coleção",
          "sv": "Produktserie",
          "th": "คอลเลกชัน",
          "tr": "Koleksiyon",
          "vi": "Bộ sưu tập",
          "zh-CN": "收藏",
          "zh-TW": "商品系列"
        }
      },  
      {
        "type": "range",
        "id": "rows",
        "label": {
          "cs": "Řádky",
          "da": "Rækker",
          "de": "Reihen",
          "en": "Rows",
          "es": "Filas",
          "fi": "Rivit",
          "fr": "Rangées",
          "it": "Righe",
          "ja": "行",
          "ko": "열",
          "nb": "Rader",
          "nl": "Rijen",
          "pl": "Wiersze",
          "pt-BR": "Linhas",
          "pt-PT": "Linhas",
          "sv": "Rader",
          "th": "แถว",
          "tr": "Satırlar",
          "vi": "Hàng",
          "zh-CN": "行数",
          "zh-TW": "列"
        },
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 2
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "cs": "Zobrazit dodavatele produktů",
          "da": "Vis produktleverandører",
          "de": "Produktanbieter anzeigen",
          "en": "Show product vendors",
          "es": "Mostrar proveedores del producto",
          "fi": "Näytä tuotteen myyjät",
          "fr": "Afficher les vendeurs",
          "it": "Mostra fornitori prodotto",
          "ja": "商品の販売元を表示する",
          "ko": "제품 공급 업체 표시",
          "nb": "Vis produktleverandører",
          "nl": "Productleveranciers weergeven",
          "pl": "Pokaż dostawców produktu",
          "pt-BR": "Exibir fabricantes do produto",
          "pt-PT": "Mostrar fornecedores do produto",
          "sv": "Visa produktleverantörer",
          "th": "แสดงผู้ขายสินค้า",
          "tr": "Ürün satıcılarını göster",
          "vi": "Hiển thị nhà cung cấp sản phẩm",
          "zh-CN": "显示产品厂商",
          "zh-TW": "顯示產品廠商"
        },
        "default": false
      }
   
    ],
    "presets": [
      {
        "name": {
          "cs": "Propagovaná kolekce",
          "da": "Udvalgt kollektion",
          "de": "Vorgestellte Kategorie",
          "en": "Featured collection",
          "es": "Colección destacada",
          "fi": "Esittelyssä oleva kokoelma",
          "fr": "Collection en vedette",
          "it": "Collezione in evidenza",
          "ja": "特集コレクション",
          "ko": "추천 컬렉션",
          "nb": "Utvalgt samling",
          "nl": "Uitgelichte collectie",
          "pl": "Polecana kolekcja",
          "pt-BR": "Coleção em destaque",
          "pt-PT": "Coleção em destaque",
          "sv": "Utvald kollektion",
          "th": "คอลเลกชันแนะนำ",
          "tr": "Öne çıkan koleksiyon",
          "vi": "Bộ sưu tập nổi bật",
          "zh-CN": "特色产品系列",
          "zh-TW": "精選商品系列"
        },
        "category": "Ym Custom Feature"
      }
    ]
  }
  {% endschema %}
  